@using DCCMSNameSpace;
@{
    // ViewBag.Title = "Home Page";
    this.Layout = null;
    string BodyClasses = ViewBag.BodyClasses;
    if (string.IsNullOrEmpty(BodyClasses))
    {
        BodyClasses = "page page-template-default";
    }


    List<ItemCategoriesEntity> allCategories = ItemCategoriesFactory.GetAll(13, -1, true, SitesHandler.GetOwnerIDAsGuid()).Distinct().ToList();
    List<ItemCategoriesEntity> mainCategories = allCategories.Where(c => c.ParentID == 0).ToList();
    List<ItemCategoriesEntity> subCategoreis = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>غراس</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- loader -->
    <link rel="stylesheet" href="~/Content/css/jpreloader.css" />
    <!-- mobile nav -->
    <link rel="stylesheet" href="~/Content/css/slicknav.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-rtl.css">
    <!-- main styles -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Font styles -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- project styles -->
    <link rel="stylesheet" href="~/Content/css/style_projects.css">
    <!-- light box -->
    <link rel="stylesheet" href="~/Content/css/featherlight.min.css" media="screen" />
    <!-- animate styles -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- morphtext script -->
    <link rel="stylesheet" href="~/Content/css/morphext.css">
    <!-- carousel styles -->
    <link rel="stylesheet" href="~/Content/css/owl/owl-carousel/owl.carousel.css">
    <!-- parallax styles -->
    <link rel="stylesheet" href="~/Content/css/newparallax.css">
    <!-- Responsive rules-->
    <link rel="stylesheet" href="~/Content/css/responsive_rules.css">

    <link rel="stylesheet" href="~/Content/css/effects.css" />
    <!-- modernizer script -->
    <script type="text/javascript" src="~/Content/js/libs/modernizr.custom.min.js"></script>
</head>
<body>
    @{



    }
    <!-- =============================================
                          mob menu
         ============================================= -->
    <div class="visible-xs visible-sm">
        <ul id="menu">
            <li><a class="scroll" href="index.html#home">الرئيسية</a></li>
            <li><a class="scroll" href="index.html#highlight">نبذة عنا</a></li>
            <li><a class="scroll" href="index.html#service">نصائح هامة</a></li>
            <li><a class="scroll" href="index.html#events">مناسبات</a></li>
            <li><a class="scroll" href="index.html#portfolio">ألبوم الصور</a></li>
            <li><a class="scroll" href="index.html#libraries">الاحصائيات</a></li>
            <li><a class="scroll" href="index.html#testimonial">التعليقات</a></li>
            <li><a class="scroll" href="index.html#contact">اتصل بنا</a></li>
            <li>
                الأقسام
                <ul>
                    <li><a href="#">الأم الجديدة</a></li>
                    <li><a href="#">الطفولة</a></li>
                    <li><a href="#">المراهقة</a></li>
                    <li><a href="#">التربية</a></li>
                    <li><a href="#">مشكلات تربوية</a></li>
                    <li><a href="#">أولادنا والصيف</a></li>
                    <li><a href="#">أولادنا والمدرسة</a></li>
                    <li><a href="#">مناسبات</a></li>
                    <li><a href="#">عالم الأم</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="wrapper">
        <!-- total wrapper -->

        <!-- /////////////////////////// main-navigation///////////////////////////////////////// -->
        <!-- Center Bottom Stick Navigation -->
        <nav id='navigation_right' class="hidden-sm visible-md visible-lg">
            <div class='container'>
                <div class='row main-right-menu'>
                    <div class="col-md-1 logo-main">
                        <a href="#"><img src="~/Content/images/logo.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-1"></div>
                    <section class="col-md-10">
                        <nav class="navmenu stick-right">
                            <ul class="scrolling-links">
                                <li class="scroll_btn active">
                                    <a class="scroll-link" data-soffset="80" href="#home">الرئيسية</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#highlight">نبذة عنا</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#service">كبسولات تربوية</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#events">مناسبات</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#portfolio">ألبوم الصور</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#libraries">مكتبة غراس</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#testimonial">أراء الزوار</a>
                                </li>
                                <li class="scroll_btn">
                                    <a class="scroll-link" data-soffset="80" href="#contact">اتصل بنا</a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);">الأقسام<i class="icon-arrow-down22"></i></a>
                                    <ul>
                                        <li><a href="#">الأم الجديدة</a></li>
                                        <li><a href="#">الطفولة</a></li>
                                        <li><a href="#">المراهقة</a></li>
                                        <li><a href="#">التربية</a></li>
                                        <li><a href="#">مشكلات تربوية</a></li>
                                        <li><a href="#">أولادنا والصيف</a></li>
                                        <li><a href="#">أولادنا والمدرسة</a></li>
                                        <li><a href="#">مناسبات</a></li>
                                        <li><a href="#">عالم الأم</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
        </nav>
        <!-- navigation completed -->
        <!-- ==================================================================================== -->
        <!-- ======================= Inner section =========================== -->
        <section ID="inner">
            <div class="container">
                <div class="row">

                    <div class="col-md-9">
                      @RenderBody()
                    </div>

                    <div class="col-md-3">
                        <div class="questions">
                            <img src="images/question.png" alt="" />
                            <div class="question-form">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="اسمك">
                                    <input type="email" class="form-control" placeholder="ايميلك">
                                    <textarea class="form-control" placeholder="سؤالك"></textarea>
                                    <button type="submit" class="btn btn-default">ارسل لنا سؤالك</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div><!-- row -->
            </div><!-- container -->
        </section><!-- section -->
        <!-- ======================= End Inner section =========================== -->
        

        <!--=============================================================
                             footer section
        ================================================================= -->
        <footer id="foot">
            <div class="footer-main">
                <div class="container">

                    <div class="row">
                        <!-- foot left block -->
                        <div class="col-md-5 col-xs-6 col-sm-5">
                            <div class="footer-copy">
                                <p>&copy; Copyright Reserved By <a href=""><span>Ghiras</span></a> 2016</p>
                            </div>
                        </div>
                        <!-- center logo -->
                        <div class="col-md-2 hidden-xs col-sm-2">
                            <a href="#">
                                <div class="foot-img">
                                    <img src="~/Content/images/logo2.png" class="img-responsive" alt="footer-logo">
                                </div>
                            </a>
                        </div>

                        <!-- footer social -->
                        <div class="col-md-5 col-xs-6 col-sm-5">
                            <div class="footer-social-main">
                                <!-- btn 1 -->
                                <div class="footer-btn">
                                    <a href="#">
                                        <div class="footer-btn-left"></div>
                                        <div class="footer-btn-right"> <i class="icon-facebook"></i></div>
                                    </a>
                                </div>
                                <!-- btn 2-->
                                <div class="footer-btn">
                                    <a href="#">
                                        <div class="footer-btn-left"></div>
                                        <div class="footer-btn-right"> <i class="icon-twitter"></i></div>
                                    </a>
                                </div>
                                <!-- btn 3 -->
                                <div class="footer-btn">
                                    <a href="#">
                                        <div class="footer-btn-left"></div>
                                        <div class="footer-btn-right"> <i class="icon-youtube"></i></div>
                                    </a>
                                </div>
                                <!-- btn 4 -->
                                <div class="footer-btn">
                                    <a href="#">
                                        <div class="footer-btn-left"></div>
                                        <div class="footer-btn-right"> <i class="icon-instagram"></i></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- total wrapper ends -->
    <!-- start Search -->
    <div class="fixed-top">
        <div class="top-search">
            <div class="search-text">
                <a href="#"><span>ابحث في غراس </span><i class="fa fa-search"></i></a>
            </div>
            <div class="search-form">
                <form>
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="ابحث هنا" name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="top-calendar">
            <p><i class="fa fa-calendar"></i> <span id="js-calendar">الاربعاء 5-اكتوبر-2016, الأربعاء 4-محرم-1438</span></p>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- End Search -->
    <!-- start share -->
    <div class="share">
        <div class="floa2"><img src="~/Content/images/share.png"></div>
        <div class="sharey">
            <h3>هل تريد أن تشاركنا في غراس ؟</h3>
            <p>التربية فن وعلم ومهارة ليست موروث تربوي خاطئ ولا ردات أفعال أفعال سريعة ولا اجتهادات فردية تحتمل الصواب والخطأ إنما هي علم نتعلمه ومهارة نتدرب عليها.</p>
            <a class="acter" href="#">مقال</a>
            <a class="acter" href="#">صور</a>
            <a class="acter" href="#">فيديو</a>
        </div>
    </div>
    <!-- End share -->
    <!-- start Poll -->
    <div class="floaty">
        <div class="floa"><img src="~/Content/images/poll.png"></div>
        <div class="polly">
            <h3>ما هو تقيمك لموقع غراس ؟</h3>
            <div class="radio"><label><input type="radio" name="optradio">ممتـــــــاز</label></div>
            <div class="radio"><label><input type="radio" name="optradio">جيد جدا</label></div>
            <div class="radio"><label><input type="radio" name="optradio">جيــــــــــد</label></div>
            <div class="radio"><label><input type="radio" name="optradio">ســـــــــئ</label></div>
            <a class="acter" href="#">تصويت</a>
            <a class="acter" data-toggle="modal" data-target="#example-modal">النتائج</a>
        </div>
    </div>
    <!-- End Poll -->




    <script src="~/Content/js/jQuery-2.1.4.min.js"></script>	<!-- Essential Scripts -->
    <script src="~/Content/js/jpreloader.min.js"></script>	  <!-- pre loader -->
    <script src="~/Content/js/bootstrap.min.js"></script>       <!-- bootstrap -->
    <script src="~/Content/js/html5lightbox.js"></script>
    <script src="~/Content/js/less.min.js"></script>		    <!-- Less -->
    <script src="~/Content/js/portfolio-init.js"></script>     <!-- suffle init -->
    <script src="~/Content/js/plugins.js"></script>             <!-- plugins -->
    <script src="~/Content/js/functions.js"></script>           <!-- main script -->
    <!-- parallax init-->
    <script type="text/javascript">
        $(document).ready(function () {
            if (!device.tablet() && !device.mobile()) {
                $('.parallax').scrolly({ bgParallax: true });
                $('.events-bg-parallax').scrolly({ bgParallax: true });
                $('.client-bg-parallax').scrolly({ bgParallax: true });
                $('.fig-bg-parallax').scrolly({ bgParallax: true });
                $('.testi-bg-parallax').scrolly({ bgParallax: true });
                $('.social-bg-parallax').scrolly({ bgParallax: true });
            }
            else {
                $(".resp-fix").addClass("add-resp-fix");
            }
        });
    </script>

    <!-- morphtext -->
    <script type="text/javascript">
        $("#js-rotating").Morphext({
            animation: "fadeInRight",
            separator: ",",
            speed: 3000
        });
        $("#js-rotating-sub").Morphext({
            animation: "fadeInRight",
            separator: ",",
            speed: 3000
        });
        $("#js-calendar").Morphext({
            animation: "fadeInRight",
            separator: ",",
            speed: 3000
        });
    </script>

    <!-- search -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".search-text").click(function () {
                $(".search-form").toggle();
            });
        });
    </script>

    <!-- share -->
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.floa2').click(function (e) {
                $('.floa2').toggleClass('actir');
                $('.share').toggleClass('no-left');
            });
        });
        $(document).ready(function (e) {
            $('.floa').click(function (e) {
                $('.floa').toggleClass('actir');
                $('.floaty').toggleClass('no-left');
            });
        });
    </script>


</body>
</html>
