<!-- ======================= Contact section =========================== -->
<section ID="contact" class="parallax-main-5">
    <div id="social-bg-main">
        <div class="social-bg-parallax resp-fix" data-velocity="-.5" data-fit="300" data-mypos="30%"></div>
        <div class="social-bg-parallax" data-velocity="-.5" data-fit="0" data-mypos="30%"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 nabza2">
                <h4><img class="img-responsive" src="/Content/images/logo_footer.png" alt="" /></h4>
                <p>التربية فن وعلم ومهارة ليست موروث تربوي خاطئ ولا ردات أفعال أفعال سريعة ولا اجتهادات فردية تحتمل الصواب والخطأ إنما هي علم نتعلمه ومهارة نتدرب عليها معا ونتبادل الخبرات والخطأ إنما هي علم نتعلمه ومهارة نتدرب عليها معا ونتبادل الخبرات ....</p>
            </div>
            <div class="col-md-3 down-menu">
                <h4>لينكات أخرى</h4>
                <ul class="down-menu-list">
                    <li><a href="#">تطبيقات الموبايل</a></li>
                    <li><a href="#">اجعلنا صفحتك الرئيسية</a></li>
                    <li><a href="#">أضفنا للمفضلة</a></li>
                    <li><a href="#">الدعم</a></li>
                    <li><a href="#">الخصوصية</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </div>
            <div class="col-md-3 newsletter">
                <h4>القائمة البريدية</h4>
                <p>اشترك معنا فى القائمة البريدية ليصلك كل ماهو جديد وليصلك كل أخبارنا يوم بيوم . </p>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="الاسم">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="البريد الالكتروني">
                    </div>
                </form>
                <div class="mlt-btn">
                    <div class="mlt-btn-left"></div>
                    <div class="mlt-btn-center"> <span>اشتراك</span></div>
                </div>
            </div>
            <div class="col-md-3 fb-widga">
                <h4>القائمة المختصرة</h4>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGhiras.khair&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>

<!--=============================================================
                     footer section
================================================================= -->
<footer id="foot">
    <div class="footer-main">
        <div class="container">

            <div class="row">
                <!-- foot left block -->
                <div class="col-md-5 col-xs-6 col-sm-5">
                    <div class="footer-copy">
                        <p>&copy; Copyright Reserved By <a href=""><span>Ghiras</span></a> 2016</p>
                    </div>
                </div>
                <!-- center logo -->
                <div class="col-md-2 hidden-xs col-sm-2">
                    <a href="#">
                        <div class="foot-img">
                            <img src="~/Content/images/logo2.png" class="img-responsive" alt="footer-logo">
                        </div>
                    </a>
                </div>

                <!-- footer social -->
                <div class="col-md-5 col-xs-6 col-sm-5">
                    <div class="footer-social-main">
                        <!-- btn 1 -->
                        <div class="footer-btn">
                            <a href="#">
                                <div class="footer-btn-left"></div>
                                <div class="footer-btn-right"> <i class="icon-facebook"></i></div>
                            </a>
                        </div>
                        <!-- btn 2-->
                        <div class="footer-btn">
                            <a href="#">
                                <div class="footer-btn-left"></div>
                                <div class="footer-btn-right"> <i class="icon-twitter"></i></div>
                            </a>
                        </div>
                        <!-- btn 3 -->
                        <div class="footer-btn">
                            <a href="#">
                                <div class="footer-btn-left"></div>
                                <div class="footer-btn-right"> <i class="icon-youtube"></i></div>
                            </a>
                        </div>
                        <!-- btn 4 -->
                        <div class="footer-btn">
                            <a href="#">
                                <div class="footer-btn-left"></div>
                                <div class="footer-btn-right"> <i class="icon-instagram"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
