<!-- =============================================
                      mob menu
     ============================================= -->
<div class="visible-xs visible-sm">
    <ul id="menu">
        <li><a class="scroll" href="index.html#home">الرئيسية</a></li>
        <li><a class="scroll" href="index.html#highlight">نبذة عنا</a></li>
        <li><a class="scroll" href="index.html#service">نصائح هامة</a></li>
        <li><a class="scroll" href="index.html#events">مناسبات</a></li>
        <li><a class="scroll" href="index.html#portfolio">ألبوم الصور</a></li>
        <li><a class="scroll" href="index.html#libraries">الاحصائيات</a></li>
        <li><a class="scroll" href="index.html#testimonial">التعليقات</a></li>
        <li><a class="scroll" href="index.html#contact">اتصل بنا</a></li>
        <li>
            الأقسام
            <ul>
                <li><a href="#">الأم الجديدة</a></li>
                <li><a href="#">الطفولة</a></li>
                <li><a href="#">المراهقة</a></li>
                <li><a href="#">التربية</a></li>
                <li><a href="#">مشكلات تربوية</a></li>
                <li><a href="#">أولادنا والصيف</a></li>
                <li><a href="#">أولادنا والمدرسة</a></li>
                <li><a href="#">مناسبات</a></li>
                <li><a href="#">عالم الأم</a></li>
            </ul>
        </li>
    </ul>
</div>
