    <!-- start Search -->
<div class="fixed-top">
    <div class="top-search">
        <div class="search-text">
            <a href="#"><span>ابحث في غراس </span><i class="fa fa-search"></i></a>
        </div>
        <div class="search-form">
            <form>
                <div class="input-group add-on">
                    <input class="form-control" placeholder="ابحث هنا" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="top-calendar">
        <p><i class="fa fa-calendar"></i> <span id="js-calendar">الاربعاء 5-اكتوبر-2016, الأربعاء 4-محرم-1438</span></p>
    </div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
</div>
<!-- End Search -->
