<!-- start share -->
<div class="share">
    <div class="floa2"><img src="~/Content/images/share.png"></div>
    <div class="sharey">
        <h3>هل تريد أن تشاركنا في غراس ؟</h3>
        <p>التربية فن وعلم ومهارة ليست موروث تربوي خاطئ ولا ردات أفعال أفعال سريعة ولا اجتهادات فردية تحتمل الصواب والخطأ إنما هي علم نتعلمه ومهارة نتدرب عليها.</p>
        <a class="acter" href="#">مقال</a>
        <a class="acter" href="#">صور</a>
        <a class="acter" href="#">فيديو</a>
    </div>
</div>
<!-- End share -->
<!-- start Poll -->
<div class="floaty">
    <div class="floa"><img src="~/Content/images/poll.png"></div>
    <div class="polly">
        <h3>ما هو تقيمك لموقع غراس ؟</h3>
        <div class="radio"><label><input type="radio" name="optradio">ممتـــــــاز</label></div>
        <div class="radio"><label><input type="radio" name="optradio">جيد جدا</label></div>
        <div class="radio"><label><input type="radio" name="optradio">جيــــــــــد</label></div>
        <div class="radio"><label><input type="radio" name="optradio">ســـــــــئ</label></div>
        <a class="acter" href="#">تصويت</a>
        <a class="acter" data-toggle="modal" data-target="#example-modal">النتائج</a>
    </div>
</div>
<!-- End Poll -->