<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
            <allow roles="MasterAdmin" />
        </authorization>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="7200"/>
        <pages  validateRequest="true"></pages>
    </system.web>
</configuration>